<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>TokWithMe Test2</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="debug.css">

	<style>[ng-cloak] {display: none !important;}</style>
</head>
<body ng-controller="mainCtrl">


<button id="btnConnect1" ng-disabled="clientSm.cannot('connectStart')" ng-click="clientSm.connectStart()">Connect Server</button>
<button id="btnDisconnect" ng-disabled="clientSm.is('disconnected')" ng-click="clientSm.disconnect()">Disconnect</button>
<br><br>

<button id="btnJoin" ng-disabled="clientSm.cannot('joinStart')" ng-click="clientSm.joinStart()">Join</button>
<button id="btnLeave" ng-disabled="clientSm.cannot('leave')" ng-click="clientSm.leave()">Leave</button>
<br><br>

<button id="btnCall" ng-disabled="clientSm.cannot('findMatch')" ng-click="clientSm.findMatch()">Call Random</button>
<button id="btnHang" ng-disabled="clientSm.cannot('endCall')" ng-click="clientSm.endCall()">Hang Up</button>
<br><br>

<div ng-cloak1 ng-show1="clientSm.is('call')">
	<video id="video1" ng-src="{{localVideoSrc}}" autoplay></video>
	<video id="video2" ng-src="{{remoteVideoSrc}}" autoplay></video>
</div>


<div id="debug"></div>






<!-- scripts -->

<script src="/build/bower.js"></script>

<script src="js/app.js"></script>

<script src="js/lib/adapter.js"></script>
<script src="js/lib/events.js"></script>
<script src="js/lib/webrtc2.js"></script>
<script src="js/lib/ws.js"></script>
<script src="js/lib/state.js"></script>

<script src="js/tok/debug.js"></script>
<script src="js/tok/service.js"></script>
<script src="js/tok/view.js"></script>
<script src="js/tok/serverApi.js"></script>
<script src="js/tok/clientApi.js"></script>

<script src="js/tok/ng.js"></script>

<script src="js/main.js"></script>


<!--
<script src="//127.0.0.1:35729/livereload.js"></script>
-->


</body>
</html>
