<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>TokWithMe Test3</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="debug.css">

	<style>[ng-cloak] {display: none !important;}</style>
</head>
<body ng-controller="test3Ctrl">

<div ng-show="ls.audio" ng-cloak>
	Stored audio:
	<audio controls ng-src="{{audioSrc}}"></audio>
	<button id="btnDelete" ng-click="deleteAudio()">Delete</button>
	<a ng-href="{{audioSrc}}" download="audio.wav">Download</a>
	<br><br>
</div>

<button id="btnRec" ng-disabled="recSm.cannot('start')" ng-click="recSm.start()">Record</button>
<button id="btnRecStop" ng-disabled="recSm.cannot('stop')" ng-click="recSm.stop()">Stop</button>
<button id="btnRecAbort" ng-disabled="recSm.is('idle')" ng-click="recSm.abort()">Abort</button>
10 sec


<div id="debug"></div>






<!-- scripts -->

<script src="/build/bower.js"></script>


<script src="js/app.js"></script>

<script src="/js/lib/events.js"></script>
<script src="/js/lib/ws.js"></script>
<script src="/js/lib/state.js"></script>
<script src="/js/lib/usermedia.js"></script>

<script src="js/tok/cfg.js"></script>
<script src="js/tok/debug.js"></script>
<script src="js/tok/client.js"></script>
<script src="js/tok/rec.js"></script>

<script src="js/tok/ng.js"></script>

<script src="js/main.js"></script>




</body>
</html>
